:root {
  --font-style: "Poppins", sans-serif;

  --dark-grey-color: #24272c;
  --main-color: #232732;
  --accent-color: #00adb5;
  --contrasty-color: orangered;
  --purple-color: #7733ff;

  --sections-gap: 2em;
  --b-raduis: 24px;

  --img-shadows: -20px -20px 50px rgba(255, 255, 255, 0.05),
    20px 20px 50px rgba(0, 0, 0, 0.6);

  --lite-shadows: inset 0 0 0 rgba(0, 0, 0, 0), inset 0 0 0 rgba(0, 0, 0, 0),
    -6px -6px 5px rgba(255, 255, 255, 0.05), 6px 6px 10px rgba(0, 0, 0, 0.6);
  --inner-shadows: inset -10px -10px 15px rgba(255, 255, 255, 0.05),
    inset 10px 10px 20px rgba(0, 0, 0, 0.6);
  --hovered-card-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.05),
    inset 10px 10px 20px rgba(0, 0, 0, 0.6), 0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(0, 0, 0, 0);
}
* {
  padding: 0;
  margin: 0;
  font-family: var(--font-style);
  box-sizing: border-box;
  color: white;
  scroll-behavior: smooth;
  scroll-padding: 6em 0;
}
body {
  background-color: var(--dark-grey-color) !important;
  margin-top: 5em !important;
}
dt {
  padding: 0.5em 0;
}
dd {
  padding: 0 1em;
}
.flex-container {
  box-shadow: var(--inner-shadows);
  border-radius: var(--b-raduis);
  background-color: var(--main-color);
  min-height: 100vh;
  min-height: 100svh;
  gap: var(--sections-gap);
  display: flex;
  flex-direction: column;
  margin: min(3em, 3%);
  margin-bottom: 0;
  padding: min(5em, 5%);
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: var(--sections-gap);

  /* padding: 1em 0 0; */
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  transition: 200ms;
  background-color: var(--main-color) !important;
  box-shadow: var(--lite-shadows);
  /* border: 2px solid var(--contrasty-color); */
  border-radius: var(--b-raduis);
  flex: 1 0 min(300px, 100%);
  padding: 2em 1em;
  min-height: max(10vh, 10em);
}

.title {
  display: grid;
  white-space: nowrap;
  width: 100%;
  grid-template-columns: 1fr min-content 1fr;
  column-gap: 1em;
  align-items: center;
  align-self: start;
}

.title::after,
.title::before {
  content: "";
  height: 3px;
  background-color: var(--purple-color);
  display: block;
}

/* Hero */
.img {
  transition: 200ms;
  text-align: center;
  background: linear-gradient(45deg, black, white);
  border-radius: 50%;
  background-image: url("images/Me.png");
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 1 / 1;
  width: 80vw;
  max-width: 450px;
  box-shadow: var(--img-shadows);
}
/* /Hero */

/* Tags */

.tags-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 1em;
  min-height: 3em;
}

.Tag {
  font-size: smaller;
  border: 1px solid var(--accent-color);
  background-color: #00acb51d;
  padding: 0.5em 1em;
  border-radius: 9999px;
}

.framework {
  border: 2.5px solid var(--purple-color) !important;
  background-color: #7733ff27 !important;
}
/* /Tags */

.card > a {
  border-radius: 14px;
  position: relative;
  margin-top: auto;
  top: 1em;
  text-align: center;
  background-color: var(--purple-color);
  color: white;
  display: inline-block;
  width: 100%;
  padding: 0.75em;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.575);
}

.card i {
  color: rgba(255, 255, 255, 0.674);
}
.content {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
}
.subheading > h3 {
  color: white;
}
/* .subheading {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
} */

.info > h3 {
  color: white;
}
.info h1 {
  text-align: center;
  background: linear-gradient(
    to right,
    #fc72ff,
    #8f68ff,
    #487bff,
    #8f68ff,
    #fc72ff
  );
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}

.info {
  /* text-align: center; */
  /* align-self: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.categories > span {
  margin-left: min(5%, 0.5em);
}
.categories {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
h3 {
  color: var(--purple-color);
  text-align: center;
}
.skills h4 {
  color: var(--purple-color);
  font-weight: 400;
}
.skills {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr 1fr;
  align-items: start;
  row-gap: 1em;
}
li {
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: white;
}
/* Hover */
.card > a:hover {
  font-weight: 600;
}

.img:hover {
  transform: rotate(-5deg);
  transition: 200ms;
}

.card:hover {
  transform: scale(0.95);
  transition: 200ms;
  box-shadow: var(--hovered-card-shadow);
  /* box-shadow: 0 0 10px #00adb5;
  box-shadow: 0 0 10px #00adb5; */
}
/* /Hover */

footer {
  display: flex !important;
  flex-direction: row !important;
  padding: var(--sections-gap);
  justify-content: center;
  gap: var(--sections-gap);
  flex-wrap: wrap;
}
footer a {
  color: var(--purple-color);
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em 0;
}

@media (max-width: 450px) {
  body {
    margin: 1em 0.5em;
  }
  .flex-container {
    display: contents;
  }
  .card {
    max-width: 90%;
  }
  .row {
    margin-top: var(--sections-gap);
  }
  footer a {
    font-size: medium;
  }
}

/*  */
.slider-wrapper {
  position: relative;
  place-content: center;
}
.slider {
  width: 90%;
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 3em;
  background-color: var(--dark-grey-color);
  padding: var(--sections-gap);
  scroll-padding: var(--sections-gap);
  box-shadow: var(--inner-shadows);
  border-radius: var(--b-raduis);
}
.slider .card {
  /* flex: 1 0 50% !important; */
  scroll-snap-align: start;
  flex: 1 0 25svw;
  background-color: var(--dark-grey-color) !important;
}
.slider-nav {
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 1.25em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: white;
  opacity: 25%;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}
.slider::-webkit-scrollbar-thumb {
  background-color: #7733ff;
  border-radius: var(--b-raduis);
}
.slider::-webkit-scrollbar {
  opacity: 1;
  height: 0.5em;
  border-bottom-left-radius: var(--b-raduis);
  border-bottom-right-radius: var(--b-raduis);
  position: absolute;
}

section button {
  background: var(--purple-color);
  min-height: 2em;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: unset;
  border-radius: var(--b-raduis);
  overflow: hidden;
  z-index: 1;
  flex: 1 0 10em;
  font-size: large;
}

section button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #8f68ff, #fc72ff);
  opacity: 0;
  transition: opacity 0.2s ease-out;
  z-index: -1;
}
section button:hover::before {
  opacity: 1;
}

.buttons {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  gap: var(--sections-gap);
  /* height: var(--sections-gap); */
  margin-top: var(--sections-gap);
  flex-wrap: wrap;
}

/*  */

.icon {
  /* opacity: 1; */
  position: absolute;
  right: -10%;
  transition: all 0.2s;
}
button > div {
  transition: all 0.2s;
}
button:hover > div {
  transform: translateX(max(-50%, -1em));
  cursor: pointer;
}

button:hover > .icon {
  transform: translateX(min(-50%, -2em));
}
nav {
  display: flex;
  gap: var(--sections-gap);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  margin: 0 min(3em, 3%);
  max-width: 94vw;
  background-color: var(--dark-grey-color);
  z-index: 2;
  top: 0;
  padding: 1em min(5em, 5%);
  /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6); */
}
.button-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;
  justify-content: space-between;
}
.nav-button:hover {
  transition: 0.1s;
  box-shadow: inset -3px -3px 5px rgba(255, 255, 255, 0.05),
    inset 3px 3px 5px rgba(0, 0, 0, 0.6), 0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(0, 0, 0, 0);
}
.nav-button {
  white-space: nowrap;
  transition: 0.1s;
  /* margin: 0 1em; */
  background-color: var(--dark-grey-color);
  padding: 1em var(--sections-gap);
  border: unset;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), inset 0 0 0 rgba(0, 0, 0, 0),
    -3px -3px 2px rgba(255, 255, 255, 0.05), 3px 3px 5px rgba(0, 0, 0, 0.6);
  border-radius: var(--b-raduis);
}
@media (max-width: 650px) {
  nav {
    visibility: hidden;
  }
  /* nav::before {
    
  } */
}
